# Supabase Configuration
VITE_SUPABASE_URL=https://oisgsmkvttobrapsllpn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9pc2dzbWt2dHRvYnJhcHNsbHBuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ1OTYwNDEsImV4cCI6MjA4MDE3MjA0MX0.uRISFdC_aRE036pLyG9hUOIlTWdDAmjB4TlPZJh5Rao.N2QGfCFrsAhmWz7fs8CyYNOFWb1xYiWhsTtCG_xkwt0

# API Configuration
VITE_API_URL=http://localhost:8000
